body {
}
.header {
    width:100%;
    background-color:darkblue;
    font-size:0;
}
.header_ul {
    list-style-type: none;
    width:50%;
}
.header_li {
    padding-left: 10%;
    display: inline-block;
    color: white;
    font-size:x-large;
    font-family:'Comic Sans MS';
}
.header_a {
    color:white;
    float:right;
    margin-right:10%;
    text-decoration:none;
}
    .header_a:hover {
        cursor: pointer;
        background-color: gray;
    }

.footer {
    background-color:darkblue;
    text-align:center;
    color: white;
    font-family:'Comic Sans MS';
}



.mainContainer {
    display:block;
    /*margin-left:20%;*/
    padding-left:20%;
}
/*.mainContainer:after {
    content:".";
    visibility:hidden;
    clear:both;
    height:0;
    display:block;
}*/
.img_button {
    border: 2px solid black;
    border-radius: 10px;
    width:120px;
    text-align:center;
    font-family:'Comic Sans MS';
    margin: 2%;
    padding:10px;
    display:inline-block;
}
    .img_button:hover {
        cursor:pointer;
        background-color:lightsteelblue;
    }
a img {
    width:80%;
    /*display:block;*/
}
